* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #212223;;
    height: 60px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header .main-menu {
    list-style: none;
}

.header .main-menu li a {
    color: white;
    text-decoration: none;
    position: relative;
    left: 420px;
}

.header .main-menu li {
    display: inline-block;
    margin-left: 15px;
}

.plejbek {
    text-decoration: none;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    right: 100px;
}

.slika1 {
    height: 20px;
    background-color: black;
    position: relative;
    right: 100px;
}

.second-header {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    top: 200px;
}

.search-menu {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    top: 100px;
}

.datum {
    background-color:#212223;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
}

.slika2 {
    height: 40px;
}

.slika3 {
    height: 40px;
}

.slika4 {
    height: 40px;
}

.main {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    top: 250px;
    background-color: aliceblue;
}

.text1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border: 2px solid;
    text-align: center;
    background-color:aliceblue;
    color:black;
}

.text2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border: 2px solid;
    text-align: center;
    margin-top: 55px;
    background-color:aliceblue;
    color:black;
}

.text3 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border: 2px solid;
    text-align: center;
    margin-top: 33px;
    background-color:aliceblue;
    color:black;
}

.slika5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
}

.slika6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 20px;
}

.slika7 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
}

.button {
    text-align: center;
    margin-left: 10px;
    padding-right: 50px;
    padding-left: 5px;
    border-radius: 10px;
    color: black;
}

.text {
    margin-left: 10px;
    padding-right: 130px;
    padding-left: 5px;
    color: black;
}




